* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ------- Generales ------- */
html {
  font-family: 'Montserrat', sans-serif; 
}

body {
  color: white;
  background-color: black;
}

h1, h2, h3, h4, h5 {
  font-weight: 800;
}
.size-1 {
  font-size: 40px;
}

a {
  color: white;
  text-decoration: none;
}

a, button {
  transition: all .3s;
}

a:hover,
a:active,
a:focus {
  color: #ffc200;
}

img {
  max-width: 100%;
}

.es-movil {
  display: none;
}
.es-pantalla {
  display: block;
}

.contenedor {
  width: 98%;
  margin: 0 auto;
}

.contenedor-medio {
  width: 98%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex-center {
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-center.right {
  justify-content: right !important;
} 
 
.llamado__subtitulo {
  font-size: 20px;
  margin-bottom: 1rem;
  color: #a5a5a5;
}
.llamado__texto {
  font-size: 22px;
  margin-bottom: 1rem;
}
.llamado__botones {
  flex-wrap: wrap;
}
.llamado__boton { 
  text-align: center;
  padding: .7rem 3rem;
  cursor: pointer;
}
.llamado__boton.ver {
  font-weight: 800;
  background-color: #ffc200;
  color: #141414;
}
.llamado__boton.agregar {
  background-color: transparent;
  color: white;
  border-color: white;
}
.llamado__boton.ver:hover, 
.llamado__boton.ver:active, 
.llamado__boton.ver:focus
{
  background-color: #ff9900;
}
.llamado__boton.agregar:hover, 
.llamado__boton.agregar:active, 
.llamado__boton.agregar:focus
{
  background-color: rgba(255, 255, 255, 0.2);
}


/* ------- HEADER ------- */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  color: white;
  background: #0d0d0d;
  background: linear-gradient(180deg, #0d0d0d 50%, rgba(20, 20, 20, 0.9) 100%);
  z-index: 80;
}
.margen-header-fixed {
  margin-top: 60px;
}
.header__contenedor {
  height: 60px; 
}
.header__logo__enlace {
  display: block;
  height: 50px;
}
.header__logo__img {
  height: 30px;
  margin-top: 10px;
} 
.header__varios {
  width: 85%;
}
.header__nav a {
  margin-right: 3rem;
} 
.header__acciones__buscador { 
  margin-right: 1rem;
}
.header__acciones__buscador input {
  width: 0px;
  outline: 0;
  border: 0;
  color: inherit;
  background-color: grey;
  padding: .5rem;
  border-radius: .3rem;
  opacity: 0; 
  transition: all .4s; 
}
.header__acciones .material-icons {
  cursor: pointer;
}
.header__acciones__buscador input:focus {
  width: 280px;
  background-color: rgba(67, 67, 67, 0.315);
  opacity: 1;
}
.header__acciones__buscador .material-icons{
  font-size: 2rem;
}
.header__acciones__menu .material-icons {
  font-size: 2rem;
  transition: all .2s;
}
.header__acciones__menu .material-icons:hover,
.header__acciones__menu .material-icons:active {
  color: #ffc200;
}
/* ------- Menú movil ------- */
.menu-movil {
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: #141414;
  top: 0;
  left: 0;
  padding: 1rem;
  transition: all .3s;
  z-index: 99;
}
.menu-movil__header__cerrar .material-icons {
  cursor: pointer;
  transition: all .2s;
}
.menu-movil__header__cerrar .material-icons:hover,
.menu-movil__header__cerrar .material-icons:active {
  cursor: pointer;
  color: #ffc200;
}
.menu-movil__enlaces {
  margin-top: 4rem;
}
.menu-movil__enlaces a {
  display: block; 
  margin-bottom: 2rem;
  border-bottom: 1px solid white;
  padding-bottom: .3rem;
}
.menu-movil__enlaces a:hover,
.menu-movil__enlaces a:active,
.menu-movil__enlaces a:focus {
  border-color: #ffc200;
}

.ocultar-menu-movil {
  left: -300px;
}


/* ------- Banner principla ------- */
.banner {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-image: url('../img/banner-imagen.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 493px;
  padding-bottom: 3rem;
}
.banner__llamado {
  width: 100%;
  max-width: 500px;
}


/* ------- Sliders ------- */ 
.mostrador__titulo {
  margin: 1rem 0;
}
.mostrador-elemento { 
  position: relative;
  transition: all .3s;
} 
.mostrador-elemento__img {
  position: relative;
  top: 0;
  left: 0;
}
.mostrador-elemento__manto {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(13, 13, 13, 0.8);
  opacity: 1;
  transition: all .1s;
}
.mostrador-elemento__manto .material-icons { 
  font-size: 2.5rem;
  color: #ffc200;
  background-color: #0d0d0d;
  border-radius: .3rem;
  padding: .3rem 1rem;
  cursor: pointer;
  transition: all .3s;
}
.mostrador-elemento__manto:hover .material-icons {
  color: #0d0d0d;
  background-color: #ffc200;
}
.mostrador-elemento__contenido {
  display: flex;
  align-items: flex-end;  
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0; 
  border: .5rem solid #434343;
  transition: all .4s;
}
.mostrador-elemento__contenido__pie {
  background-color: #434343;
  width: 100%;
  height: 100px;
}
.mostrador-elemento__contenido__datos {
  width: 100%;
}
.mostrador-elemento__contenido__datos h3 {
  font-size: 21px;
}
.mostrador-elemento__contenido__datos h5 {
  font-size: 16px;
}
.mostrador-elemento__contenido__botones {
  text-align: right;
}
.mostrador-elemento__contenido__botones a,
.mostrador-elemento__contenido__botones button {
  display: inline-block !important;
  padding: .5rem 1rem;
  text-align: center;  
  background-color: #ffc200;
  border: 0;
}
.mostrador-elemento__contenido__botones a {
  margin-bottom: .5rem;
  font-weight: 800;
  color: #141414;
}
.mostrador-elemento__contenido__botones button {
  border: 2px solid white;
  color: white;
  background-color: transparent;
  cursor: pointer;
}
.mostrador-elemento__contenido__botones a:hover,
.mostrador-elemento__contenido__botones a:active,
.mostrador-elemento__contenido__botones a:focus {
  background-color: #ff9900;
}
.mostrador-elemento__contenido__botones button:hover,
.mostrador-elemento__contenido__botones button:active,
.mostrador-elemento__contenido__botones button:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

/* ------- Slider activo ------- */
.swiper-slide.activo .mostrador-elemento__manto {
  opacity: 0;
}
.swiper-slide.activo .mostrador-elemento__contenido {
  width: 100%;
  height: 100%;
  bottom: 0%;
  left: 0; 
}

/* ------- Pie de página ------- */
.pie {
  margin-top: 4rem;
  background-color: #434343;
}
.pie-contendor {
  min-height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.pie__logo__enlace {
  display: block;
  height: 50px;
}
.pie__logo__img {
  height: 50px;
}


/* ------- PÁGINA DE CLASES  ------- */
.clase {
  display: flex;
}

.clase-presentacion {
  width: 55%;
  display: flex;
  align-items: flex-end;
  position: sticky;
  top: 60px;
  height: calc(100vh - 60px);
  background-image: url('../img/clase.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.clase-presentacion__llamado {
  width: 500px;
  padding: 1rem 1rem 3rem 1rem;
}
.clase-presentacion__llamado .llamado__texto {
  font-size: 18px;
}
.clase-presentacion__llamado .llamado__boton {
  padding-left: 1rem;
  padding-right: 1rem;
}

.clase-contenido {
  width: 40%;
  padding: 1rem;
  font-size: 1.1rem;
}
/* ------- Temario ------- */
.temario {
  margin-top: 2rem;
}
.temario__header {
  font-weight: 800;
  padding: .6rem 1rem;
  background-color: #a3a3a3;
  color: #0d0d0d;
}
.temario__header__nombre__icono {
  font-size: 2rem !important;
  cursor: pointer;
  transition: all .3s;
}
.temario__lista {
  height: 0px;
  overflow: hidden;
  transition: all .3s;
  transition-delay: .2s;
}
.temario__lista__elemento {
  cursor: pointer;
  padding: 1rem;
}
.temario__lista__elemento__nombre {
  display: block;
  width: 60%;
}

.temario__lista__elemento:hover,
.temario__lista__elemento:active {
  background-color: rgba(67, 67, 67, 0.4);
}
/* ------- MEDIAS QUERIES ------- */

@media only screen and (max-width: 992px) {
  .es-movil {
    display: block;
  }
  .es-pantalla {
    display: none;
  }
  .header__varios {
    width: auto;
  } 
  .header__acciones__buscador input:focus {
    width: 120px;
  }
  .banner {
    background-size: cover;
  }
  .pie-contendor {
    flex-direction: column;
    padding: 1rem 0;
  }
  .pie-contendor a {
    margin-bottom: 1rem;
  }
  .pie__logo__enlace {
    margin-bottom: 2rem !important;
  } 

  .clase {
    flex-direction: column;
  }
  .clase-presentacion, .clase-contenido {
    width: 100%;
  }
  .clase-presentacion { 
    position: relative; 
    top: 0;
    padding: 1rem;
    height: 340px;
    background-image: url('../img/clase.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }
  .clase-presentacion__llamado {
    padding: 0;
  }

}

@media only screen and (max-width: 576px) {
  .banner {
    padding-bottom: 0;
  }
  .llamado__boton {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
}


